/*
    universal selctor
    remove any default margin and padding
    ensure with border-box that content stay withing precribed widths
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*
    Work specificly on the site name and review tab
*/
.site-name, .review-tab{
    font-size: 15px;
    background-color: #44230e;
    padding: 0.5em;
    border-radius: 1em;
    cursor: pointer;
}

/* 
    Override the site name specifically to change back to wite font color
*/
.site-title{
    color: white;
}

/*
    work on the content of the header
*/
header{
    background-color: black;
    color: white;
    width: 100%;
    padding: 2em 1em;
    
}

/*
    work specifically on the navigation bar
    display flex to align horizontally
    give space between each content with centerd alignment
*/
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
    make the profile image circular and smaller
*/
.profile-picture{
    width: 4em;
    height: 4em;
    border-radius: 50%; 
    cursor: pointer;
}

/*
    remove the style from the list items which remove the bullet points.
*/
ul .profile-menu-dropdown{
    list-style-type: none;
}

/*
    style the dropdown to be see through, aligned to the top right and on top of the stacking order of containers
*/
.dropdown{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #444;
    list-style-type: none;
    padding: 8em 1em 2em 1em;
    /* min-width: 200px; */
    opacity: 0.9;
    z-index: 10;
}


.dropdown li {
    
    padding: 10px;
    text-align: left;
    cursor: pointer;
    justify-content: space-evenly;
    
}

/*
    When hovering on a list item, change the background color
*/
.dropdown li:hover {
    background-color: #44230e;
}

/*
    make the dropdown list visible when you hovern on the profile menu
*/
.profile-menu-dropdown:hover .dropdown {
    display: block;
}


.submit-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
}

.submit-btn:hover {
    background-color: #44230e;
    border-radius: 5px;
}

.banner-image {
    width: 100%;
    height: 18em;
}

.banner{
    position: relative; 
    align-items: center;
    /* z-index: 1; */
}


.banner-text {
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* z-index: 2; */
}

.search-bar{
    display: none;
}

.review-tab a{
    color: white;
}

a{
    color: black;
    text-decoration: none;
}

#btone{
    top: 0.5em;
}
#bttwo{
    top: 5em;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
}

.one-one{
    grid-column: span 3;
}

.grid-item img{
    width: 85px;
    height: 85px;
    border-radius: 25%;
}

a .grid-item{
    text-align: center;
    font-size: 1.2em;
}

#people img{
    border-radius: 50%;
}

.extra{
    display: none;
}

footer{
    color: white;
    bottom: 0;
    height: 10em;
    background-color: black;
}


@media screen and (min-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .one-one{
        grid-column: span 6;
    }
    .extra {
        display: block;
    }

    .grid-item img {
        width: 150px;
        height: 150px;
    }
}


@media screen and (max-width: 1024px){
    .grid-item img {
        width: 100%; 
        height: auto;
        border-radius: 10px;
    }

    #people img{
        height: 150px;
        
    }
}