.profile-page-picture{

    width: 7em;
    height: 7em;
    border-radius: 50%; 
}



.profile-banner{
    background-color: #0f0601;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 5em 0;
}

.name-email{
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
}

.review-follower{
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
}

/* .review, .follower{
    display: flex;
    justify-content: space-between;
} */