main {
    background-color: lightgray;
    padding: 3em;
    text-align: center;
    max-width: 700px;
    margin: 5em auto;
    border-radius: 10px;
}

.settings-head {
    margin-bottom: 2em;
    font-size: 24px;
    font-weight: bold;
}


.accountsettings-btn {
    background-color: blue;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    margin-top: 2em;
}

.contentsettings-btn {
    background-color: blue;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    margin-top: 1em;
}
