

main{
    background-color: bisque; /* sets main background bisque */
    padding: 3em; /* sets padding 3em */
    text-align: center; /* it aligns text to centre */
    max-width: 600px; /* sets max width 600 px */
    margin: 5em auto; /* sets margin 5em */
    border-radius: 10px; /* rounds borders 10 px */
}

.site-name-head{
    margin-bottom: 2em; /* adds space bottom 2em */
}

.sign-in-head{
    margin-bottom: 2em; /* adds space bottom 2em */
}

section{
    background-color: grey; /* sets section background grey */
    text-align: center; /* it aligns text to centre */
    padding: 2em; /* sets padding 2em */
    border-radius: 10px; /* rounds borders 10 px */
}

form{
    display: flex; /*display flex */
    flex-direction: column; /* sets flex direction as column */
    gap: 5px; /* sets gap as 5px */
}

.input-field-in{
    text-align: center; /* it aligns text to centre */
    height: 3em; /* sets hight 3em */
    border-radius: 10px; /* rounds borders 10 px */
    color: white; /* sets text color as white */
    background-color: black; /* sets  background black  */
    border: none; /* removes default border */
}

.submit-btn-sign-in{
    background-color: black; /* sets  background black  */
    color: white; /* sets text color as white */
    border: none; /* removes default border */
    font-size: 20px; /* sets font-size 20px*/
    cursor: pointer; /*sets cursor as pointer */
    padding: 10px 10px; /*sets padding 10px */
    border-radius: 10px; /* rounds borders 10 px */
    margin-top: 3em; /* adds space bottom 3em */
}
